/* TODO: remove hardcoded max widths from comment related selectors, make comments scrollable */
.container {
    padding: 10px 5px;
    align-items: center;
    overflow-y: auto;
    max-height: 200px;
}

.comment {
    background-color: white;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 85%;
}

.img {
    height: 20px;
}

.commentHeader {
    display: flex;
    justify-content: space-between;
    top: 8px;
    right: 8px;
    font-size: 0.875rem;
    color: #6b7280;
}

.commentBody {
    margin-top: 14px;
    overflow-wrap: break-word;
    width: 250px;
}