.container {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.radioGroup {
    display: flex;
    flex-direction: column;
}

.commentArea {
    display: block;
    padding: 5px;
}